
<template>
  <form @submit.prevent="save" >
            <table class="table table-bordered table-sm table-hover table-responsive" v-if="!saving">
                <thead class="thead-light">
                    <tr>
                        <th v-for="key in keys" :key="'dummy'+key">
                            {{key}}
                        </th>
                    </tr>
                </thead>
                <tr v-for="(item, ind) in contents" :key="'dummy2'+ind">
                    <td v-for="(value, key) in item" :key="'dummy3'+key">
                        <div class="input-group">
                            <input v-model="item[key]" class="form-control">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" @click="item[key]=''"><span class="oi oi-delete"></span></button>
                            </div>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-outline-danger" @click.prevent="remove(ind)"><span class="oi oi-delete"></span></button>
                    </td>
                </tr>
            </table>
            <div class="btn-group" v-if="!saving">
                <button class="btn btn-outline-primary" @click.prevent="addLine" type="text"><span class="oi oi-plus"></span></button>
                <button class="btn btn-outline-primary" @click.prevent="reset" type="text"><span class="oi oi-reload"></span></button>
                <button class="btn btn-outline-success" type="submit" ><span class="oi oi-cloud-upload"></span></button>
                <div v-if="$_.includes(file, 'breakpoints')">
                    <button class="btn btn-outline-warning" @click.prevent="save(15)" type="submit" >15</button>
                    <button class="btn btn-outline-warning" @click.prevent="save(20)" type="submit" >20</button>
                    <button class="btn btn-outline-warning" @click.prevent="save(25)" type="submit" >25</button>
                    <button class="btn btn-outline-warning" @click.prevent="save(30)" type="submit" >30</button>
                </div>
                <div v-else>
                    <button class="btn btn-outline-warning" @click.prevent="save(contents[0]['start'])" type="submit" >Use V</button>
                </div>
            </div>
            <div v-if="saving" class="alert alert-danger">
                ... saving and re-running implementation analysis...
            </div>
        </form>
</template>

<script>
export default {
  data(){
      return {
          contents: undefined,
          saving: false,
          stored: undefined
      }
  },
  props: ["file"],
  computed:{
        keys(){
            if (this.$_.isUndefined(this.contents)) {
                return []
            } else {
                return this.$_.keys(this.contents[0])
            }
        },
        shortfile(){
            return this.$_.last(this.$_.split(this.$_.join(this.$_.dropRight(this.$_.split(this.file,".")),'.'),'/'))
        },
        json(){
            return JSON.stringify(this.contents, (k, v) => v === undefined ? null : v)
        }
    },
    created: function() {
        this.fetch()
        // setInterval(this.fetch, 5000)
    },
    watch:{
        file(){
            this.editing = false
            this.fetch()
        },
    },
    methods: {
        fetch(){
            return new Promise((resolve,reject)=>{
                if (!this.editing) {
                    this.$csv(this.file, (data) => {
                        if (!this.editing){
                            this.contents = data
                            this.stored = this.$_.cloneDeep(this.contents)
                        }
                        resolve()
                    })
                }
            })
        },
        addLine(){
            this.editing = true
            this.contents.push(this.$_.cloneDeep(this.$_.last(this.contents)))
        },
        save(window=0){
            this.editing = false
            this.saving = true
            this.$emit('save', JSON.stringify(this.contents), this.shortfile, window)
            setTimeout(()=>{this.saving = false; this.fetch()}, 10000)
        },
        remove(index){
            this.editing = true
            this.contents.splice(index, 1)
        },
        reset(){
            this.contents = this.$_.cloneDeep(this.stored)
        }
    }
}
</script>
