<template>
  <div class="backToTop" v-if="visible" @click="backToTop()">{{tekst}}</div>
</template>

<script>
export default {
    data(){
        return {
            visible: false
        }
    },
    props: {
        tekst: {
            type: String,
            default: "Scroll naar top"
        },
        visibleoffset: {
            type: [String, Number],
            default: 600
        }
    },
    created(){
        let catchScroll = ()=>{
            this.visible = (window.pageYOffset > parseInt(this.visibleoffset))
        };
        window.smoothscroll = ()=>{
            let currentScroll = document.documentElement.scrollTop || document.body.scrollTop
            if (currentScroll > 0) {
                window.requestAnimationFrame(window.smoothscroll)
                window.scrollto(0, Math.floor(currentScroll - (currentScroll / 5)))
            }
            window.onscroll = catchScroll
        }
    },
    methods: {
        backToTop: ()=> window.smoothscroll()
    }
}
</script>
