<template>
  <div>
        <h6 :id="$_.last($_.split(file, '/'))">{{$_.last($_.split(file, "/"))}}</h6>
        <table class="table table-bordered table-sm table-hover table-responsive ">
            <thead class="thead-light">
                <tr>
                    <th v-for="head in headers">{{head}}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in contents">
                    <td v-for="value in row">{{value}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>

export default {
  props: ["file"],
    data: function() {
        return {
            contents: {},
            interval: undefined
        }
    },
    created(){
        this.fetch()
                if (this.$parent.host != 'localhost3') this.interval = setInterval(this.fetch, 5000); console.log("created new interval!")
    },
    methods: {
        fetch(){
            this.$csv(this.file, (data) => {
                this.contents = data
            })
        }
    },
    watch: {
        file(newval, oldval){
            if (newval != oldval){
                clearInterval(this.interval)
                this.fetch()
                if (this.$parent.host != 'localhost3') this.interval = setInterval(this.fetch, 5000); console.log("created new interval!")
            }
        },
    },
    computed: {
        headers: function() {
            return this.$_.keys(this.contents[0])
        }
    },
    beforeDestroy(){
        console.log("unload!")
        clearInterval(this.interval)
    }
}
</script>
