<template>
    <div v-html="contents">
    </div>  
</template>

<script>
export default {
  props: ["file"],
  data: function() {
    return {
      contents: "",
      interval: undefined
    };
  },
  mounted: function() {
    this.fetch();
    if (this.$parent.host != "localhost3")
      this.interval = setInterval(this.fetch, 5 * 1000);
  },
  methods: {
    fetch: function() {
      this.$api.get(this.file).then(res => {
        this.contents = res.data;
      });
    }
  },
  watch: {
    file(newval, oldval) {
      if (newval != oldval) {
        clearInterval(this.interval);
        this.fetch();
        if (this.$parent.host != "localhost3")
          this.interval = setInterval(this.fetch, 5 * 1000);
      }
    }
  },
  beforeDestroy(){
    clearInterval(this.interval)
  }
};
</script>
