<template>
  <div id="app">
    <header class="navbar navbar-expand navbar-dark bg-primary flex-column flex-md-row sticky-top justify-content-between">
            <a href="#" class="navbar-brand">Dataviewer</a>
            <transition name="fade">
                <div v-if="wait" class="navbar-text spinner">   
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </transition>
        </header>
        <div class="container-fluid">
            <div class="row" v-cloak>
                <div class="col-xl-3">
                    <div class="sidebar-sticky">
                        <div class="accordion">
                            <div class="card" v-for="value, bekken in tree">
                                <div class="card-header">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" :data-target="'#'+bekken" @click="selectedBekken = (selectedBekken==bekken)?undefined:bekken">{{bekken}}</button>
                                    </h5>
                                </div>
                                <div v-if="selectedBekken==bekken" :id="bekken">
                                    <div class="list-group">
                                        <a href="#" v-for="contents, station in value" v-if="isUnSupported(station)" @click="selectedStation = station" class="list-group-item list-group-item-action"
                                            :class="{active: station==selectedStation}">
                                            {{station.replace('.','/')}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mt-3"  id="opmerkingen">
                    <h3 v-if="selectedStation">{{selectedStation}}
                    </h3>
                    <div v-else>
                        <h6>Selecteer een station uit het menu.</h6>
                        <div v-for="img in catchImages">
                            <figure class="figure " style="width:100%">
                                    <figcaption class="figure-caption">
                                        <h6>
                                            {{$_.last($_.split($_.split(img, '?')[0],'/'))}}
                                        </h6>
                                    </figcaption>
                                    <img class="img img-fluid  mx-auto d-block" :src="img" alt="">
                                </figure>
                        </div>  
                    </div>
                    <div v-for="item in txtList">
                        <v-text :file="item"></v-text>
                    </div>
                    <div id="plots"></div>
                    <div v-for="img in imgList" :id="$_.last($_.split(img, '/'))">
                        <figure class="figure " style="width:100%">
                            <figcaption class="figure-caption">
                                <h6>
                                    {{$_.join($_.split($_.last($_.split($_.split(img, '?')[0],'/')),'.').slice(2), '.')}}
                                </h6>
                            </figcaption>
                            <img class="img img-fluid  mx-auto d-block" :src="img" alt="">
                        </figure>
                    </div>
                    <div id="forms" v-for="form in formList"  class="mb-5 pb-5">
                        <formcomponent :file="form" class="v-table" @save="save"></formcomponent>
                    </div>
                    <div id="tabellen" v-for="item in csvList">
                        <v-table :file="item" class="v-table"></v-table>
                    </div>
                    <div id="links" v-for="file in xmlList" class="mb-5 pb-5">
                        <a :href="file">{{file}}</a>
                    </div>
                </div>
                <div v-if="selectedStation" class="col-xl-2 d-none d-xl-block sidebar-sticky   ">
                    <ul class="section-nav">
                        <li class="toc-entry toc-h2">
                            <a href="#plots">Plots</a>
                            <ul>
                                <li class="toc-entry toc-h3" v-for="img in imgList">
                                    <a :href="'#'+$_.last($_.split(img, '/'))">
                                        {{$_.split($_.last($_.split(img, '/')), '?')[0]}}
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="toc-entry toc-h2">
                            <a href="#tabellen">Tabels</a>
                            <ul>
                                <li class="toc-entry toc-h3" v-for="table in csvList">
                                    <a :href="'#'+$_.last($_.split(table, '/'))">
                                        {{$_.split($_.last($_.split(table, '/')), '?')[0]}}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <scrolltop></scrolltop>
            </div>
        </div>
  </div>
</template>

<script>
import alertify from "alertify.js";
import _ from "lodash";

import tableComponent from "./components/table";
import textComponent from "./components/text";
import scrollTopComponent from "./components/scrollTop";
import formComponent from "./components/form";

export default {
  name: "app",
  data() {
    return {
      tree: {},
      selectedStation: undefined,
      selectedBekken: undefined,
      wait: false,
      host: window.location.hostname
    };
  },
  computed: {
    catchImages() {
      if (this.selectedBekken) {
        return _.map(
          _.filter(_.keys(this.tree[this.selectedBekken]), x =>
            _.endsWith(x, ".png")
          ),
          x => `./data/${this.selectedBekken}/${x}`
        );
      } else {
        return [];
      }
    },
    imgList() {
      try {
        return _.map(
          _.filter(
            _.keys(this.tree[this.selectedBekken][this.selectedStation]),
            item => item.match(/.(jpg|png|svg|jpeg)$/i)
          ),
          item => {
            let img =
              "./data/" +
              this.selectedBekken +
              "/" +
              this.selectedStation +
              "/" +
              item;
            img =
              this.host != "localhost3"
                ? img + "?" + new Date().toLocaleTimeString()
                : img;
            return img;
          }
        );
      } catch (e) {
        return [];
      }
    },
    csvList() {
      try {
        console.log("recalculating!");
        return _.map(
          _.filter(
            _.keys(this.tree[this.selectedBekken][this.selectedStation]),
            item => _.endsWith(item, ".csv")
          ),
          item => {
            return (
              "./data/" +
              this.selectedBekken +
              "/" +
              this.selectedStation +
              "/" +
              item
            );
          }
        );
      } catch (e) {
        return [];
      }
    },
    txtList() {
      try {
        return _.map(
          _.filter(
            _.keys(this.tree[this.selectedBekken][this.selectedStation]),
            item => _.endsWith(item, ".txt")
          ),
          item => {
            return (
              "./data/" +
              this.selectedBekken +
              "/" +
              this.selectedStation +
              "/" +
              item
            );
          }
        );
      } catch (e) {
        return [];
      }
    },
    formList() {
      try {
        return _.map(
          _.filter(
            _.keys(this.tree[this.selectedBekken][this.selectedStation]),
            item => _.endsWith(item, ".form")
          ),
          item => {
            return (
              "./data/" +
              this.selectedBekken +
              "/" +
              this.selectedStation +
              "/" +
              item
            );
          }
        );
      } catch (e) {
        return [];
      }
    },
    xmlList() {
      try {
        return _.map(
          _.filter(
            _.keys(this.tree[this.selectedBekken][this.selectedStation]),
            item => _.endsWith(item, ".xml")
          ),
          item => {
            return (
              "./data/" +
              this.selectedBekken +
              "/" +
              this.selectedStation +
              "/" +
              item
            );
          }
        );
      } catch (e) {
        return [];
      }
    },
    latest_doc() {
      return _.reduce(
        this.tree,
        (res, val, key) => {
          let ls = _.filter(_.keys(val), item => _.endsWith(item, ".docx"));
          res[key] = _.isEmpty(ls)
            ? undefined
            : `./data/${this.selectedBekken}/${_.takeRight(ls)}`;
          return res;
        },
        {}
      );
    }
  },
  methods: {
    save(data, filename, window = 0) {
      let params = {};
      if (_.isString(window)) {
        params["window"] = window;
      } else if (window > 0) {
        params["window"] = window;
      } else {
        params["data"] = data;
        params["filename"] = filename;
      }
      let url = `/savecsv/${this.selectedBekken}/${this.selectedStation}`;
      this.$api.post(url, params).then(
        res => {
          let task_id = res.data;
          alertify.success(
            "Submitted the recalculation task... Task ID:" + task_id
          );
          let url = `/status/${task_id}`;
          let getstatus = function() {
            this.$api.get(url).then(res => {
              if (res.data == "running") {
                alertify.log(`Task ${task_id} still running..`);
                setTimeout(getstatus, 2000);
              } else if (res.data == "ready") {
                alertify.success(`Task ${task_id} is ready!`);
              } else if (res.data == "failed") {
                alertify.error(`Task ${task_id} failed!`);
              }
            });
          };
          setTimeout(getstatus, 2000);
        },
        err => {
          alertify.delay(0).error(err);
          alertify.reset();
        }
      );
      alertify.log("Starting recalculation!");
    },
    reload() {
      alertify.confirm(
        "Are you sure? Doing this will refetch everything from WISKI.",
        () => {
          this.$api
            .post(`/reload/${this.selectedBekken}/${this.selectedStation}`)
            .then(
              res => {
                let task_id = res.data;
                alertify.success(
                  "Submitted the recalculation task... Task ID:" + task_id
                );
                let url = `/status/${task_id}`;
                let getstatus = function() {
                  this.$api.get(url).then(res => {
                    if (res.data == "running") {
                      alertify.log(`Task ${task_id} still running..`);
                      setTimeout(getstatus, 2000);
                    } else if (res.data == "ready") {
                      alertify.success(`Task ${task_id} is ready!`);
                    } else if (res.data == "failed") {
                      alertify.error(`Task ${task_id} failed!`);
                    }
                  });
                };
                setTimeout(getstatus, 2000);
              },
              err => {
                alertify.delay(0).error(err);
                alertify.reset();
              }
            );
          alertify.log(
            `Reloading ${this.selectedBekken}/${this.selectedStation}`
          );
        },
        () => {}
      );
    },
    isUnSupported(station) {
      return !_.some([".csv", ".png", ".xml", ".docx", ".md", ".log"], x =>
        _.endsWith(station, x)
      );
    },
    hasParameter(contents, parameter) {
      return _.some(
        _.map(_.keys(contents), x => _.includes(x, `${parameter}.2.Relations`))
      );
    },
    returnOnly(imgList, parameter) {
      return _.filter(
        imgList,
        k => parameter == _.head(_.split(_.last(_.split(k, "/")), "."))
      );
    },
    only0(imgList) {
      return _.filter(
        imgList,
        k => _.head(_.split(_.last(_.split(k, "/")), ".")) == "0"
      );
    },
    hasImplemented(station) {
      return _.includes(_.keys(station), "implemented.log");
    }
  },
  created() {
    let fetchUpdates = () => {
      this.wait = true;
      this.$api.get("./tree").then(res => {
        this.tree = res.data;
        setTimeout(() => {
          this.wait = false;
        }, 800);
      });
    };
    fetchUpdates();
    if (this.host != "localhost3") setInterval(fetchUpdates, 5000);
  },
  components: {
    "v-table": tableComponent,
    "v-text": textComponent,
    scrolltop: scrollTopComponent,
    formcomponent: formComponent
  },
  watch: {
    selectedBekken(newVal, oldVal) {
      if (!newVal) {
        this.selectedStation = undefined;
      }
    },
    selectedStation() {
      this.wait = false;
    }
  }
};
</script>

<style>
body {
  overflow-y: scroll;
}

figure,
.v-table,
#links {
  display: block;
  top: 55px;
  position: relative;
}
.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 58px;
  height: calc(100vh - 58px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.toc-entry a {
  display: block;
  padding: 0.125rem 1.5rem;
  color: #99979c;
}

.toc-entry {
  display: block;
}

.section-nav {
  padding-left: 0;
  border-left: 1px solid #eee;
}

.spinner {
  width: 20px;
  height: 20px;
  position: relative;
}

.cube1,
.cube2 {
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(21px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(21px) translateY(21px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(21px) rotate(-270deg)
      scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(21px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(21px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(21px) translateY(21px) rotate(-179deg);
    -webkit-transform: translateX(21px) translateY(21px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(21px) translateY(21px) rotate(-180deg);
    -webkit-transform: translateX(21px) translateY(21px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(21px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(21px) rotate(-270deg)
      scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s 1 ease-in-out;
  animation: sk-bounce 2s 1 ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.05s ease-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.backToTop {
  position: fixed;
  bottom: 40px;
  right: 30px;
  width: 160px;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
  background-color: #007bff;
  border-radius: 3px;
  z-index: 1000;
  cursor: pointer;
}

[v-cloak] {
  display: none;
}
</style>
